{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <p class="centertext title">Learning About Sustainable Living</p>
    <p class="centertext dark-grey">In this module, you'll have the opportunity to visit different rooms in a house, and you'll learn about opportunities to make sustainable living choices in each room</p>
    <div class="lesson-buttons">
      <a href="{{ url_for('lesson_page', index=0) }}" class="btn btn-primary welcome-button-width">Go to Kitchen</a>
    </div>
  </div>
   
{% endblock %}
